@model IEnumerable<Intelly_Web.Entities.UserEnt>
@{
    ViewData["Title"] = "Employees";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Stexo - Responsive Admin & Dashboard Template | Themesdesign</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <meta content="Themesdesign" name="author" />
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- DataTables -->
    <link href="../plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="../plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        
            <!-- Start content -->
            <div class="content ml-auto">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-12">
                                <h4 class="page-title">Empleados</h4>
                            </div>
                            <div class="col-sm-12">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Intelly</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Administrativo</a></li>
                                    <li class="breadcrumb-item active">Empleados Activos</li>
                                </ol>
                            </div>
                        </div> <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <div class="row">
                        <div class=" col-md-10">
                            <div class="card m-b-30 d-flex flex-column ml-auto">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">Empleados Activos</h4>
                                    <p class="sub-title">
                                        Gestión de empleados
                                    </p>
                                </div>
                            <p>@ViewBag.MensajePantalla</p>
                                <div style="max-height: 400px; overflow-y: auto;">
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Correo Eléctronico</th>
                                                <th>Estado</th>
                                                @* <th>Rol</th> *@
                                                @if (Context.Session.GetString("UserType") == "1" || Context.Session.GetString("UserType") == "2")
                                                    {
                                                        <th>Acciones</th>
                                                    }
                                            </tr>
                                        </thead>


                                    <tbody>
                                        @foreach (var user in Model)
                                        {
                                            <tr>
                                                <td>@user.User_Name</td>
                                                <td>@user.User_LastName</td>
                                                <td>@user.User_Email</td>

                                                <td>@(user.User_State ? "Activo" : "Inactivo")</td>
                                                @* <td>@user.User_Type</td> *@
                                                <td>
                                                    @if (Context.Session.GetString("UserType") == "1" || Context.Session.GetString("UserType") == "2")
                                                    {
                                                        <a href="@Url.Action("EditSpecificUser", "User", new { UserId = user.User_Id })" class="btn btn-primary">
                                                            Editar Usuario
                                                            <i class="fa fa-pencil"></i>

                                                        </a>
                                                        <a href="@Url.Action("UpdateUserState", "User", new { UserId = user.User_Id })" class="btn btn-danger">
                                                            Desactivar Usuario
                                                            <i class="fa fa-pencil"></i>

                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>




                                    </table>
                                </div>
                            </div> <!-- end col -->

                         @if (Context.Session.GetString("UserType") == "1" || Context.Session.GetString("UserType") == "2")
                        {
                            <div class="mt-3">
                                <a href="@Url.Action("AddEmployee", "User")" class="btn btn-primary">Agregar Usuario</a>
                            </div>
                        }
                    </div> <!-- end row -->





            
                <!-- container-fluid -->

            </div>
            <!-- content -->

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/metismenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/waves.min.js"></script>

    <!-- Required datatable js -->
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="../plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="../plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="../plugins/datatables/jszip.min.js"></script>
    <script src="../plugins/datatables/pdfmake.min.js"></script>
    <script src="../plugins/datatables/vfs_fonts.js"></script>
    <script src="../plugins/datatables/buttons.html5.min.js"></script>
    <script src="../plugins/datatables/buttons.print.min.js"></script>
    <script src="../plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="../plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="../plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="assets/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="assets/js/app.js"></script>

</body>

</html>