@model Intelly_Web.Entities.UserEnt

@{
    ViewData["Title"] = "NewEmployee";
}
<div class="wrapper-page">
    
    <div class="card card-pages shadow-none">

        <div class="card-body">
            
            <div class="text-center m-t-0 m-b-15">
                <a href="index.html" class="logo logo-admin"><img src="~/images/logo-dark.png" alt="" height="70"></a>
            </div>
            <h5 class="font-18 text-center">Agregar nuevo usuario</h5>

            @using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { @class = "pt-3" }))
            {

            <form class="form-horizontal m-t-30" action="index.html">

                    <div class="form-group">
                        <div class="col-12">
                            <label>Nombre</label>
                            @Html.TextBoxFor(m => m.User_Name, new { @class="form-control form-control-lg", @type="text", @placeholder="Nombre de Usuario" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-12">
                            <label>Apellido</label>
                            @Html.TextBoxFor(m => m.User_LastName, new { @class="form-control form-control-lg", @type="text", @placeholder="Apellido" })
                        </div>
                    </div>

                <div class="form-group">
                    <div class="col-12">
                        <label>Correo Electrónico</label>
                            @Html.TextBoxFor(m => m.User_Email, new { @class="form-control form-control-lg", @type="text", @placeholder="Correo" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        <label>Contraseña</label>
                            @Html.TextBoxFor(m => m.User_Password, new { @class="form-control form-control-lg", @type="password", @placeholder="Contraseña" })
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-12">
                            <label>Empresa</label>
                            @Html.TextBoxFor(m => m.User_Company_Id, new { @class="form-control form-control-lg", @type="number", @placeholder="Id de la Empresa" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12">
                            <label>Permisos</label>
                            @Html.TextBoxFor(m => m.User_Type, new { @class="form-control form-control-lg", @type="number", @placeholder="Tipo de Usuario" })
                        </div>
                    </div>

                    <!-- FALTA CARGAR EL DROPDOWN 
                    <div class="form-group">
                        <div class="col-12">
                            <label>Empresa</label>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Seleccionar Opción
                                </button>
                            
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">3</a>
                                    <a class="dropdown-item" href="#">4</a>
                                </div>
                            </div>
                        </div>
                    </div>
                   

                <div class="form-group">
                    <div class="col-12">
                        <label>Permisos</label>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seleccionar Opción
                            </button>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Usuario</a>
                                <a class="dropdown-item" href="#">Administrador</a>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Crear Usuario</button>
                    </div>
                </div>

            </form>
            }
        </div>

    </div>
</div>
