@model Intelly_Web.Entities.UserEntitie

@{
    ViewData["Title"] = "AddUser";
}
<body>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Ingresar nuevo usuario</h4>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Intelly</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Data</a></li>
                                <li class="breadcrumb-item active">Ingresar información</li>
                            </ol>
                        </div>
                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->
                @using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { @class = "pt-3" }))

                {
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Ingresar información</h4>
                                    <p class="sub-title">Ingrese los datos del nuevo usuario</p>


                                    <div class="form-group row">
                                        @Html.TextBoxFor(m => m.User_Company_Id, new {@class="form-control form-control-lg", @type="number", @placeholder="Id Empleado"})
                                    </div>

                                    <div class="form-group row">
                                        @Html.TextBoxFor(m => m.User_Name, new {@class="form-control form-control-lg", @type="text", @placeholder="Nombre"})
                                    </div>

                                    <div class="form-group row">
                                        @Html.TextBoxFor(m => m.User_LastName, new {@class="form-control form-control-lg", @type="text", @placeholder="Apellido"})
                                    </div>
                                    <div class="form-group row">
                                        @Html.TextBoxFor(m => m.User_Email, new {@class="form-control form-control-lg", @type="email", @placeholder="Correo Electronico"})
                                    </div>
                                    <div class="form-group row">
                                        @Html.TextBoxFor(m => m.User_Password, new {@class="form-control form-control-lg", @type="password", @placeholder="Contraseña"})

                                    </div>

                                    <div class="form-group row">
                                        @Html.TextBoxFor(m => m.User_Type, new {@class="form-control form-control-lg", @type="text", @placeholder="Tipo de Usuario"})
                                    </div>

                                    <div class="form-group row">
                                        @Html.TextBoxFor(m => m.User_State, new {@class="form-control form-control-lg", @type="text", @placeholder="Estado"})
                                    </div>

                                    <div class="mt-3">
                                       <input type="submit" class="btn btn-block btn-primary btn-lg font-weigth-medium auth-form-btn" value="Añadir usuario"></input>
                                    </div>


                                </div>
                            </div>
                        </div> <!-- end col -->
                        
                    </div> <!-- end row -->
                }
                </div>
                <!-- container-fluid -->

            </div>
            <!-- content -->
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->
        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metismenu.min.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/waves.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.js"></script>

    </body>

    </html>