@model Intelly_Web.Entities.UserEnt

@{
    Layout = "/Views/Shared/_Access.cshtml";
    ViewData["Title"] = "NewSession";
}
<div class="wrapper-page">
    <div class="card card-pages shadow-none">

        <div class="card-body">
            <div class="text-center m-t-0 m-b-15">
                <a href="index.html" class="logo logo-admin"><img src="~/images/logo-dark.png" alt="" height="80"></a>
            </div>
            <h5 class="font-18 text-center">Inicie Sesion para continuar</h5>

            @using (Html.BeginForm("NewSession", "Login", FormMethod.Post, new { @class = "pt-3" })){

                @ViewBag.MensajePantalla
                
            <form class="form-horizontal m-t-30" action="index.html">


                <div class="form-group">
                    <div class="col-12">
                        <label>Usuario</label>
                            @Html.TextBoxFor(m => m.User_Name, new { @class="form-control form-control-lg", @type="text", @placeholder="Nombre de Usuario" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        <label>Contraseña</label>
                            @Html.TextBoxFor(m => m.User_Password, new { @class="form-control form-control-lg", @type="password", @placeholder="Contraseña" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12">
                        <div class="checkbox checkbox-primary">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1"> Recuerdame</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <a class="btn btn-primary btn-block btn-lg waves-effect waves-light" href="@Url.Action("Index", "Home")">Iniciar Sesión </a>
                    </div>
                </div>
                    <!-- Hay que arreglar este redireccionamiento -->
                <div class="form-group row m-t-30 m-b-0">
                    <div class="col-sm-7">
                            ¿Olvidaste la contraseña? <a href="@Url.Action("RecuperarCuenta", "Login")" class="text-primary">Recuperar</a>
                    </div>
                </div>
            </form>
            }
        </div>

    </div>
</div>

