@model IEnumerable<Intelly_Web.Entities.MarketingCampaignEnt>
@{
    ViewData["Title"] = "Marketing Campaigns";
}
<body>
     @if (Context.Session.GetString("UserType") == "1" || Context.Session.GetString("UserType") == "2" || Context.Session.GetString("UserType") == "3")
       {
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Campañas publicitarias</h4>
                        </div>

                        <!-- end row -->
                    </div>
                    <!-- end page-title -->
               
                    <div class="row">
                        <div class="col-12">
                            <!-- Left sidebar -->
                            <div class="email-leftbar card">
                            <a href="@Url.Action("EmailMarketing", "Marketing")" class="btn btn-danger rounded btn-custom btn-block waves-effect waves-light">Ver Campañas</a>
                            <a href="@Url.Action("CreateCampaign", "Marketing")" class="btn btn-secondary rounded btn-custom btn-block waves-effect waves-light">Crear campaña</a>
                            <a href="@Url.Action("CreateCampaignEmail", "Marketing")" class="btn btn-secondary rounded btn-custom btn-block waves-effect waves-light">Enviar correo de Campaña</a>
                            </div>
                            <!-- End Left sidebar -->

                            <!-- Right Sidebar -->
                            <div class="table-rightbar mb-3">
                            <div class="card w-75 m-0 auto">
                                <div class="card-body w-100 m-0 auto">

                                    <table id="marketingCampaigns" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Fecha de Inicio</th>
                                                <th>Fecha de Cierre</th>
                                                <th>Nivel Cliente</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var x in Model)
                                            {
                                                <tr>
                                                    <td>@x.MarketingCampaign_Internal_Code</td>
                                                    <td>@x.MarketingCampaign_Name</td>
                                                    <td>@x.MarketingCampaign_Start_Date</td>
                                                    <td>@x.MarketingCampaign_End_Date</td>
                                                    <td>@x.Membership_Name</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Fecha de Inicio</th>
                                                <th>Fecha de Cierre</th>
                                                <th>Nivel Cliente</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    </div>
                                </div>
                            </div>

                            <!-- end Col-9 -->

                        </div>

                    </div>
                    <!-- End row -->

                    <!-- content -->


                </div>
                <!-- ============================================================== -->
                <!-- End Right content here -->
                <!-- ============================================================== -->

            </div>
        </div>
  
 }


    <script>
        new DataTable('#marketingCampaigns');

        jQuery(document).ready(function () {

            $('.summernote').summernote({
                height: 250,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false                 // set focus to editable area after initializing summernote
            });
        });


    </script>
</body>


